NTFY_URL=https://ntfy.sh/remplace-par-un-topic-aleatoire-long
LAT=170.2184
LON=-90.5536
RADIUS_KM=10
FUELS=e10,sp95
THRESHOLD=2.00 # Si le prix passe sous ce seuil ça déclenche notif
MAX_AGE_DAYS=3 # ignore les relevés de prix plus agés que x jours
INTERVAL=1800 # Sleep de la boucle en secondes
TZ=Europe/Paris